.editor-container {
    display: flex;
    flex-direction: column;
}

.attributes-panel {
    background-color: var(--panel-color-hex);
    width: 320px;
    min-width: 320px;
    padding: 12px;
    border-left: var(--border-light);
}

.stage-container {
    background-color: var(--editor-background-color-hex);
}

.stage-container > div {
    height: 100%;
}

.toolbar {
    background-color: var(--toolbar-color-hex);
    padding: 8px 12px;
    border-bottom: var(--border-light);
}
