.status-bar {
    background-color: var(--toolbar-color-hex);
    border-top: var(--border-light);
    align-items: center;
    font-size: 12px;
    padding: 4px 16px;
}

#qr-code {
    margin: 64px;
}

.logs-modal-root,
.qr-modal-root {
    background-color: black;
}

.qr-modal-root {
    padding: 24px;
}

.logs-container {
    min-height: 25vh;
    max-height: 75vh;
    padding: 16px;
    overflow-y: auto;
    border-bottom: var(--border-light);
    font-size: 11px;
    font-family: monospace;
}
