:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --bg-color: #1e201e;
    --dark-bg-color: #191c1a;
    --light-bg-color: #3c3d37;
    --accent-color: #697565;
    --text-color: #ecdfcc;

    color-scheme: normal;
    color: var(--text-color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

/* utilities */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.flex-grow, .flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-auto { flex: auto; }
.justify-center { justify-content: center; }
.align-center { align-items: center; }
.fill { width: 100%; height: 100%; }
.fill-x { width: 100%; }
.fill-y { height: 100%; }
.no-overflow { overflow: hidden; }
.relative { position: relative; }

/* components */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a, a:visited {
    color: var(--accent-color);
}

button {
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    font-weight: bold;
    cursor: pointer;
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
}
