:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --editor-background-color-hex: #2f3336;
    --toolbar-color-hex: #202223;
    --panel-color-hex: #17181a;
    --text-color-light-hex: #ecdfcc;
    --text-color-dark-hex: #0f0f0f;

    --editor-background-color-values: 51, 51, 51;
    --panel-color-values: 22, 22, 22;

    --gradient-stop1: #bd49b7;
    --gradient-stop2: #4956e4;

    --border-light: 1px solid rgba(255, 255, 255, 0.2);

    /* gg colors */
    /*--gg-color1: #09090b; !* background *!*/
    /*--gg-color2: #0f0f11; !* elevation *!*/
    /*--gg-color3: #1b1b1d; !* panels *!*/
    /*--gg-color4: #1e533a; !* button border *!*/
    /*--gg-color5: #10201a; !* button color? (probably transparency) *!*/

    /* gg forge colors */
    /*--gg-forge-color1: #101219; !* editor background *!*/
    /*--gg-forge-color2: #232630; !* elevation *!*/
    /*--gg-forge-color3: #2a2e3a; !* panels *!*/
    /*--gg-forge-color4: #339865; !* buttons *!*/
    /*--gg-forge-color5: #fd5947; !* clear buttons *!*/
    /*************/

    color-scheme: normal;
    color: var(--text-color-light-hex);
    background-color: var(--editor-background-color-hex);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

/* utilities */
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.flex-grow, .flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-auto { flex: auto; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.align-center { align-items: center; }
.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.fill { width: 100%; height: 100%; }
.fill-x { width: 100%; }
.fill-y { height: 100%; }
.no-overflow { overflow: hidden; }
.relative { position: relative; }

/* components */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a, a:visited {
    color: var(--gradient-stop1);
    text-decoration: none;
}

button {
    background-image: linear-gradient(to bottom right, var(--gradient-stop1), var(--gradient-stop2));
    color: var(--text-color-light-hex);
    border: 0;
    border-radius: 4px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

input {
    background: var(--editor-background-color-hex);
    border: var(--border-light);
    border-radius: 4px;
    padding: 2px;
    color: var(--text-color-light-hex);
}

input:focus {
    outline: none;
    border-color: var(--gradient-stop1);
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
}

.popup-content {
    border: var(--border-light);
    overflow: hidden;
}
