:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.fill {
    width: 100%;
    height: 100%;
}

.fill-x {
    width: 100%;
}

.fill-y {
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.relative {
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
}

.editor-container {
    display: flex;
    flex-direction: column;
}

.attributes-panel {
    background-color: rgba(45, 45, 45, 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    right: 0;
    top: 0;
    width: 128px;
}

.stage-container {
    background-color: rgb(87, 87, 87);
}

.stage-container > div {
    height: 100%;
}

.status-bar {
    background-color: rgb(32, 32, 32);
    height: 24px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 0 12px;
}

.qr-code-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

